* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header {
    width: 100%;
    height: 4rem;
    display: block;
    background-color: #37517E;
    position: fixed;
}

header .inner_header {
    width: 62rem;
    margin: 0 auto;
    display: block;
}

header .inner_header .logo {
    height: 100%;
    float: left;
    padding: 0.5rem;
}

header .inner_header .logo h1 {
    color: #fff;
    height: 100%;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 2rem;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation li {
    height: 100%;
    padding: 1rem;
    float: left;
}

.navigation li a {
    color: #fff;
    font-family: "Robot", sans-serif;
}

.navigation li a:hover {
    color: #47B2E4;
}

.navigation li .start {
    background-color: #47B2E4;
    border: none;
    border-radius: 25px;
    padding: 0 1rem;
    font-size: 105%;
    color: #fff;
}

main {
    padding: 10rem;
    background-color: #37517E;
    color: #fff;
    width: 62rem;
    display: flex;
    height: 60vh;
    justify-content: space-between;
}

.split {
    display: flex;
    justify-content: space-around;
    width: 62rem;
    align-items: center;
}

main .words h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 300%;
}

main .words p {
    font-family: "Roboto", sans-serif;
    padding: 0.5rem 0 1rem 0;
}

main .picture {
    width: 30%;
    height: 20%;
}

main .words .clickables {
    margin-top: 1rem;
}

.about h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
    color: #37517E;
    text-align: center;
}

.sides {
    padding: 10rem;
    width: 62rem;
    display: flex;
    align-items: center;
    justify-content: center;
}