* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.logo {
    font-size: 110%;
}

.hero-container {
    background-color: #37517E;
    color: white;
    padding: 20px 50px;
}

.hero-container a {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    background-color: #37517E;
    width: 100%;
    padding: 20px;
}

.links a {
    padding: 0 10px 0 10px;
}

a:hover {
    color: #47B2E4;
}

.hero-container header .links .start {
    background-color: #47B2E4;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 6px 15px 6px 15px;
    font-size: 105%;
}

span {
    padding: -20px 0 0 0;
}

.hero-container .hero {
    display: grid;
    width: 80%;
    grid-template-columns: auto auto;
}

.hero-container .hero .picture img{
    width: 70%;
}