* {
    margin: 0;
}

/* input[type="text"] {
    color: brown;
} */

/* .container-2 p {
    color: red;
}

a:hover {
    color: red;
}

.text {
    color: red;
} */

.logo {
    font-size: 110%;
    padding: 2px;
}

.hero-container {
    background-color: #37517E;
    color: white;
}

.hero-container a {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    background-color: #37517E;
    width: 100%;
}

.links a {
    padding: 0 10px 0 10px;
}

a:hover {
    color: #47B2E4;
}

.hero-container header .links .start {
    background-color: #47B2E4;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 6px 15px 6px 15px;
    font-size: 105%;
}

span {
    padding: -20px 0 0 0;
}