* {
    margin: 0;
}

/* Relative and absolute positioning */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}


 .box-1 {
    width: 25rem;
    height: 25rem;
    background-color: yellow;
}

 .box-2 {
    width: 20rem;
    height: 20rem;
    background-color: green;
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-3 {
    width: 15rem;
    height: 15rem;
    background-color: blue;
}

.box-4 {
    width: 10rem;
    height: 10rem;
    background-color: red;
}

 .box-5 {
    width: 7rem;
    height: 7rem;
    background-color: black;
    position: absolute;
}

 .box-6 {
    width: 4rem;
    height: 4rem;
    background-color: purple;
    position: relative;
    left: 0px;
    right: 0px;
}

/* .box-6:hover{
    position: relative;
    left: 0;
    right: 0;
} */