* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-align: left;
}


.container {
    width: 85%;
    display: flex;
    margin: 3rem auto;
}

.container .profile_card {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0 0.5rem;
    justify-content: left;
    gap: 1em;
    box-shadow: 0 0.4rem 2rem 0 #cfcfcf;
}

#card_leftt {
    margin-left: 0;
}

#card_right {
    margin-right: 0;
}

.container .profile_card .profile_image {
    width: 40%;
}

.container .profile_card .profile_image img {
    width: 100%;
    border-radius: 50%;
}

.container .profile_card .info .profile_name {
    color: #37517E;
    font-size: 140%;
    font-weight: 600;
}

.container .profile_card .info .profile_title {
    font-weight: 100;
    font-size: 110%;
    margin: 1rem 0;
    margin-top: 0.3rem;
}

.container .profile_card .info .profile_text {
    color: gray;
}


.container .profile_card .info .icon_collection {
    display: flex;
}

.container .profile_card .info .icon_collection .icon {
    padding: 0.5rem;
    padding-left: 0.1rem;
    color: gray;
}